body{
    background-color: #F5F5F5;
    color: #002147;
    font-family: Arial, sans-serif;
}
header{
    background-color: #FFC300; 
    padding: 12px;
    text-align: center;
    color: #002147;
    margin: 10px;
    border-radius: 30px 30px 30px 30px;
}

.nav-container {
    background-color: #FFC400; 
    padding: 15px;
    border-radius: 20px;
}

nav {
    background-color: #002147; 
    padding: 15px 20px;
    display: flex;
    border: 3px solid #FFC400;
    border-radius: 30px 30px 30px 30px;
   
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #FFC400; 
  
    

   
}
nav a {
    color: #FFC400; 
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    font-size: 24px;
}

nav a:hover {
    text-decoration: underline;
}
.headline{
    text-align: left;
}
.section1{
    padding-left: 350px;
  
}
.images {
  
  
   align-items: center;
}

.footer{
    background-color: #002147;
    color: #FFC400; 
    
    font-size: 14px;
 
}
.footer2{
    background-color: #002147;
    color: #FFC400; 
    text-align: center;
    font-size: 14px;
 

}
footer a{
    text-align: center;
}
.map{
    padding-left: 80px;
}
.contact{
    text-align: center;
}